.container {
  width: 50%;
  margin: auto;
}

.functional-panel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.filter-button {
  height: 35px;
  width: 55px;
}

.active {
  border: 2px solid red;
}

.default { 
  border: none;
}

.filter-buttons--container {
  width: 25%;
  text-align: center;
}

.sort-select--container {
  color: red;
  font-size: 22px;
  width: 25%;
  text-align: left;
}

.todos-h1 {
  width: 25%;
  text-align: right;
}